@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RobotoL";
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "RobotoB";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: Roboto, sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: Roboto, sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #ffffff;
  font-size: 16px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 6px 16px;
  text-align: center;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.btn:hover {
  background-color: white;
}

.title {
  font-size: 36px;
  font-family: RobotoB;
  line-height: 36px;
}

body {
  background-color: #1c1c1c;
}

.logo {
  text-align: center;
  margin: 80px 0px 54px 0px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.page-search {
  margin: 0 auto 92px;
}

.page-search .page-search__container {
  margin: 0 auto 24px;
}

.page-search__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 18px 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-search__input {
  width: 460px;
  font-family: RobotoL;
  font-size: 24px;
  line-height: 36px;
  background-color: transparent;
  color: #fff;
  position: relative;
  padding: 0 14px;
}

.page-search__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.page-search__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.page-search__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.page-search__input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.page-search__cancle {
  display: none;
}

.page-search__cancle svg path {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.page-search__cancle:hover {
  cursor: pointer;
}

.page-search__cancle:hover svg path {
  stroke-opacity: 1;
}

.page-search__line {
  height: 2px;
  width: 628px;
  background: #ffffff;
  border-radius: 2px;
  margin: 0 auto 0px;
}

.page-search__tags {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page-search__tag {
  margin: 0 8px 8px 0;
}

.page-search__tag:nth-child(n + 4) {
  display: none;
}

.page-empty {
  display: none;
}

.page-results {
  display: none;
  margin: 0 auto 80px;
  position: relative;
  min-height: 400px;
}

.page-results::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.9) url("../img/loading.gif") center/50px no-repeat;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  z-index: 50;
}

.page-results._sending::after {
  opacity: 1;
  visibility: visible;
}

.page-results__title {
  margin: 0 0 36px 0;
}

.page-results__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
}

.page-results__loading {
  display: none;
  position: absolute;
  left: 20px;
  bottom: 68px;
}

.page-results__item {
  cursor: pointer;
  border-radius: 12px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.24);
  height: 454px;
  position: relative;
}

.page-results__item.loading .page-results__loading {
  display: block;
}

.page-results__item.loading .item-result {
  display: none;
}

.page-results__rect1 {
  width: 246px;
  height: 24px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 2px;
  margin: 0 0 8px 0;
}

.page-results__rect2 {
  width: 156px;
  height: 24px;
  left: 414px;
  top: 510px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 2px;
}

.item-result {
  height: 100%;
}

.item-result:hover .item-result__cover {
  z-index: 3;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(26.43%, rgba(0, 0, 0, 0)), color-stop(72.41%, rgba(0, 0, 0, 0.8)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 26.43%, rgba(0, 0, 0, 0.8) 72.41%);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.item-result:hover .item-result__cover .item-result__info .item-result__title {
  color: #ffffff;
}

.item-result:hover .item-result__cover .item-result__info .item-result__feedback {
  opacity: 1;
  visibility: visible;
}

.item-result__image {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.item-result__cover {
  position: absolute;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(26.43%, rgba(0, 0, 0, 0)), color-stop(72.41%, rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 26.43%, rgba(0, 0, 0, 0) 72.41%);
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  bottom: 0;
  width: 100%;
  height: 100%;
}

.item-result__info {
  position: relative;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px;
}

.item-result__feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-result__emoji {
  margin: 0 7px 0 0;
}

.item-result__raiting {
  font-size: 24px;
  line-height: 36px;
}

.item-result__title {
  margin: 0 0 16px 0;
  font-size: 24px;
  line-height: 36px;
  font-family: RobotoB;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: rgba(255, 255, 255, 0.24);
}

.item-result__undertitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: rgba(255, 255, 255, 0.4);
  line-height: 24px;
}

.search_active .page-search .page-search__container .page-search__bar .page-search__input {
  width: 100%;
}

.search_active .page-search .page-search__container .page-search__bar .page-search__cancle {
  display: block;
}

.search_active .page-search .page-search__container .page-search__line {
  width: 100%;
  max-width: 1280px;
  background: #fdce25;
}

.search_active .page-search .page-search__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search_more_history .page-search .page-search__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search_more_history .page-search .page-search__tags .page-search__tag:nth-child(n) {
  display: block;
}

.scroll .page-search .page-search__container {
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(28, 28, 28, 0.8);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.scroll .page-search .page-search__container .page-search__bar .page-search__input {
  width: 100%;
}

.scroll .page-search .page-search__container .page-search__bar .page-search__cancle {
  display: block;
}

.scroll .page-search .page-search__container .page-search__line {
  width: 100%;
  max-width: 100%;
  background: #ffffff;
  border-radius: 0;
}

.scroll .page-search .page-search__tags {
  display: none;
}

.search_not_found .page-empty {
  display: block;
}

.search_live .page-results {
  display: block;
}

.footer {
  text-align: center;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
  margin: 0 0 16px 0;
}
