.btn {
  cursor: pointer;
  display: inline-block;
  padding: 6px 16px;
  text-align: center;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.btn:hover {
  background-color: white;
}

.title {
  font-size: 36px;
  font-family: RobotoB;
  line-height: 36px;
}
