//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: Roboto, sans-serif;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======s================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1510;
$maxWidthContainer: 1280;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 768;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: #ffffff;
	font-size: 16px;
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	width: 100%;
	// @media (max-width: $maxWidth+px) {
	// 	padding-left: 10px;
	// 	padding-right: 10px;
	// }
	// @media (max-width: $md1+px) {
	// 	max-width: 970px;
	// }
	// @media (max-width: $md2+px) {
	// 	max-width: 750px;
	// }
	// @media (max-width: $md3+px) {
	// 	max-width: none;
	// 	padding: 0 10px;
	// }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "ui.scss";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================

body {
	background-color: $color1;
}

.logo {
	text-align: center;
	margin: 80px 0px 54px 0px;
}

.page {
	flex: 1 1;
}

.page-search {
	margin: 0 auto 92px;

	.page-search__container {
		margin: 0 auto 24px;
	}
	// .page-search__bar

	&__bar {
		display: flex;
		width: 100%;
		padding: 18px 10px;
		justify-content: center;
	}

	// .page-search__input

	&__input {
		// flex: 1 1;
		width: 446px + 14px;
		font-family: RobotoL;
		font-size: 24px;
		line-height: 36px;
		background-color: transparent;
		color: $color2;
		position: relative;
		padding: 0 14px;
		&::placeholder {
			color: rgba(255, 255, 255, 0.4);
		}
	}

	&__cancle {
		display: none;
		svg path {
			transition: all 0.3s ease 0s;
		}
	}

	&__cancle:hover {
		cursor: pointer;
		svg path {
			stroke-opacity: 1;
		}
	}

	&__line {
		height: 2px;
		width: 628px;
		background: #ffffff;
		border-radius: 2px;
		margin: 0 auto 0px;
	}

	// .page-search__tags

	&__tags {
		display: none;
		flex-wrap: wrap;
	}

	// .page-search__tag

	&__tag {
		margin: 0 8px 8px 0;

		&:nth-child(n + 4) {
			display: none;
		}
	}
}

.page-empty {
	display: none;
}

.page-results {
	display: none;
	margin: 0 auto 80px;
	position: relative;
	min-height: 400px;

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(51, 51, 51, 0.9) url("../img/loading.gif") center / 50px no-repeat;
		opacity: 0;
		visibility: hidden;
		transition: all 0.8s ease 0s;
		z-index: 50;
	}
	&._sending::after {
		opacity: 1;
		visibility: visible;
	}
	// .page-results__title

	&__title {
		margin: 0 0 36px 0;
	}

	// .page-results__items

	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 24px;
	}

	&__loading {
		display: none;

		position: absolute;
		left: 20px;
		bottom: 68px;
	}

	// .page-results__item

	&__item {
		cursor: pointer;
		border-radius: 12px;
		overflow: hidden;
		background: rgba(255, 255, 255, 0.24);
		height: 454px;
		position: relative;

		&.loading {
			.page-results__loading {
				display: block;
			}

			.item-result {
				display: none;
			}
		}
	}

	// .page-results__rect1

	&__rect1 {
		width: 246px;
		height: 24px;
		background: rgba(255, 255, 255, 0.08);
		border-radius: 2px;
		margin: 0 0 8px 0;
	}

	// .page-results__rect2

	&__rect2 {
		width: 156px;
		height: 24px;
		left: 414px;
		top: 510px;

		background: rgba(255, 255, 255, 0.08);
		border-radius: 2px;
	}
}

.item-result {
	height: 100%;

	&:hover .item-result__cover {
		z-index: 3;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 26.43%, rgba(0, 0, 0, 0.8) 72.41%);
		backdrop-filter: blur(2px);

		.item-result__info {
			.item-result__title {
				color: #ffffff;
			}

			.item-result__feedback {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	// .item-result__image

	&__image {
		position: relative;
		z-index: 2; 
		width: 100%;
		height: 100%;
		
	}

	// .item-result__cover

	&__cover {
		position: absolute;
		z-index: 1;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 26.43%, rgba(0, 0, 0, 0) 72.41%);
		backdrop-filter: blur(0px);
		bottom: 0;
		width: 100%;
		height: 100%;

		// transition: all 0.5s ease 0s;
	}

	// .item-result__info

	&__info {
		position: relative;
		bottom: 0px;
		display: flex;
		flex-direction: column;
		height: 100%;
		// align-items: flex-end;
		justify-content: flex-end;
		padding: 20px;
	}

	// .item-result__feedback

	&__feedback {
		display: flex;
		align-items: center;

		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease 0s;
	}

	// .item-result__emoji

	&__emoji {
		margin: 0 7px 0 0;
	}

	// .item-result__raiting

	&__raiting {
		font-size: 24px;
		line-height: 36px;
	}

	// .item-result__title

	&__title {
		margin: 0 0 16px 0;
		font-size: 24px;
		line-height: 36px;
		font-family: RobotoB;
		transition: all 0.3s ease 0s;
		color: rgba(255, 255, 255, 0.24);
	}

	// .item-result__undertitle

	&__undertitle {
		display: flex;
		justify-content: space-between;
		color: rgba(255, 255, 255, 0.4);
		line-height: 24px;
	}

	// .item-result__category

	&__category {
	}

	// .item-result__year

	&__year {
	}
}

.search_active {
	.page-search {
		.page-search__container {
			.page-search__bar {
				.page-search__input {
					width: 100%;
				}
				.page-search__cancle {
					display: block;
				}
			}

			.page-search__line {
				width: 100%;
				max-width: $maxWidthContainer + px;

				background: #fdce25;
			}
		}
		.page-search__tags {
			display: flex;
		}
	}
}

.search_more_history {
	.page-search {
		.page-search__tags {
			display: flex;

			.page-search__tag {
				&:nth-child(n) {
					display: block;
				}
			}
		}
	}
}

.scroll {
	.page-search {
		.page-search__container {
			position: fixed;
			z-index: 10;
			width: 100%;
			top: 0;
			left: 0;
			background: rgba(28, 28, 28, 0.8);
			backdrop-filter: blur(4px);
			.page-search__bar {
				.page-search__input {
					width: 100%;
				}
				.page-search__cancle {
					display: block;
				}
			}

			.page-search__line {
				width: 100%;
				max-width: 100%;
				background: #ffffff;
				border-radius: 0;
			}
		}
		.page-search__tags {
			display: none;
		}
	}
}

.search_not_found {
	.page-empty {
		display: block;
	}
}

.search_live {
	.page-results {
		display: block;
	}
}

.footer {
	text-align: center;
	font-size: 12px;
	color: rgba(255, 255, 255, 0.4);
	margin: 0 0 16px 0;
}

//</ОСНОВНОЙ БЛОК>====================================================================================================
