//<ГОТОВЫЕ КЛАССЫ>====================================================================================================

$color1: #1c1c1c;
$color2: #fff;

.btn {
	cursor: pointer;
	display: inline-block;
	padding: 6px 16px;

	text-align: center;
	line-height: 24px;

	color: rgba(0, 0, 0, 0.8);
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 4px;

	transition: all 0.8s ease 0s;

	&:hover {
		background-color: rgba(255, 255, 255, 1);
	}
}

.title {
	font-size: 36px;
	font-family: RobotoB;
	line-height: 36px;
}

//====================================================================================================
